@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, sans-serif;

  @apply bg-[#f0f0f0] text-gray-700;
}
h1 {
  @apply text-2xl font-bold  md:text-3xl;
}
label {
  @apply text-xs;
}
h2 {
  @apply text-xl font-bold  md:text-2xl;
}

h3 {
  @apply text-sm font-semibold  md:text-xl;
}
p {
  @apply text-base;
}

.container-main {
  @apply px-0;
}

.container-expand {
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
}

.dark-section {
  @apply bg-secondary container-expand text-primary-light;
}
